#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  color: white;
  height: auto;
  background-color: black;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: black;
}

.header {
  margin-bottom: 50px;
}

#bg-img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.movie-image {
  width: 250px; 
  height: 350px;
  object-fit: cover; 
}

h3 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; 
  justify-content: space-evenly; 
}

.movie-card {
  overflow: hidden;
  width: 30%;
  height: 350px;
  border-radius: 20px;
  background-color: rgb(23, 23, 23);
  transition: transform 0.3s ease; 
  transform-origin: center; 
}

.movie-card:hover {
  transform: scale(1.05); 
}

.movie {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.movie-details {
  padding: 20px;;
}

.movie-data {
  text-align: left;
}

.link-button {
  background-color: rgb(255, 255, 255);
  border: 2px solid white;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform-origin: center; 
  width: 100%;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.link-button a {
  color: black; 
  text-decoration: none; 
  font-weight: bold;
  font-size: 15px;
}

.link-button:hover {
  border: 2px solid white;
  color: white;
  background-color: black;
}

.link-button:hover a {
  color: white; 
  font-weight: bold;
}

@media (max-width: 1625px) and (min-width: 769px) {
  .movie-card-container {
    flex-direction: row;
    gap: 40px;
    justify-content: space-evenly;
    margin: 0;
  }

  .movie-card {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .movie {
    display: flex;
    flex-direction: row; 
    align-items: center; 
  }
  
  .movie-image {
    width: 35%; 
    height: 100%; 
    object-fit: cover; 
    max-height: 350px; 
    flex-shrink: 0; 
  }
  
  .movie-details {
    width: 65%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: left;
  }
}

@media (max-width: 768px) {
  .movie-card-container {
    flex-direction: column;
    gap: 40px;
  }

  .movie-card {
    width: 100%; 
    height: auto; 
  }

  .movie {
    flex-direction: column; 
  }

  .movie-image {
    width: 100%; 
    height: auto; 
  }

  .movie-details {
    padding: 15px; 
  }

  .link-button {
    width: 100%;
    margin-top: 10px;
  }
}
